<div class="container child-main">
    <div class="row">
        <div class="col-12">
            <p class="text-center">This is OnChange Event</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p> Data from Parent:<strong class="text-success">{{dataFormParent}}</strong></p>
        </div>
        <div class="button-destroy text-center py-1">
            <button class="btn btn-danger " (click)="onRemoveData()">Remove</button>
        </div>
    </div>
</div>